header#header
  section#site-nav
    label#menu-toggle(for='menu-toggle-hidden-checkbox') ≡
    input#menu-toggle-hidden-checkbox(type='checkbox')
    nav#menu
      ul
        li Map
        li About
        li Contact
    #title= self.title
  img#logo(src='images/logo.svg' alt='logo')
