header-height = 66px

header
  height header-height
  display flex
  justify-content space-between
  user-select none

#site-nav,
#logo,
#actions
  flex auto

#site-nav
  font 28px bold sans-serif
  display flex
  align-items center
  white-space nowrap
  overflow-x visible

#menu-toggle
  font-size 35px
  padding 0 20px
  height 100%
  line-height header-height - 6px
  cursor pointer
  user-select none
  html.non-touch &:hover
    background-color #eee

#menu
  font-size 24px
  position absolute
  background-color white
  width 100%
  text-align center
  top header-height
  box-shadow 0 6px 8px 0px #aaa
  user-select none
  z-modal(2)
  & a
    color inherit
    text-decoration none
  & ul
    list-style-type none
    padding-left 0
    margin 0 0
  & li
    padding 12px 0
    cursor pointer
    &:hover
      background-color #eaeaea

#logo
  absolute-centered-fixed-width()
  height header-height - 8px
  top 4px
  @media (max-width: 478px)
    display none 

#info
  font-size 13px
  text-align right
  margin-right 5px
  display flex
  justify-content center
  flex-direction column
  @media (max-width: 408px)
    display none

#avatar
  background-color #ccc
  width header-height
  height header-height
  display flex
  position relative
  &.logged-in
    cursor pointer
