@require 'lib/mixins'
@require 'lib/common'
@require 'lib/header'

body
  overflow hidden

.main
  position absolute
  top header-height
  bottom 0
  width 100%
  z-index 1

.page
  background-color white
  .content
    font-family Arial
    margin 20px
    h1
      font-size 20px
      text-align center

#map
  z-index 0

#address-search
  position absolute
  top header-height + 16px
  right 64px
  min-width 260px
  z-foreground()

#address-input
  font-size 17px
  width 180px
  float right
  &::placeholder
    text-align right

#search-results
  font-size 16px
  background-color white
  user-select none
  clear right
  .result
    padding 1px 4px
    cursor pointer
    &:hover, &.selected
      background-color #ccf

#submit-location
  background linear-gradient(to right, #4d4e4d 0%, #40877a 80%, #216155 100%)
  box-shadow 0 0 20px 3px #333
  border 1px #363636 solid
  pill-shape()
  color #e1dcdc
  position absolute
  absolute-centered()
  bottom 30px
  padding 0 1em
  height 3em
  cursor pointer
  z-index 9999
  &:hover
    background linear-gradient(to right, lighten(#4d4e4d, 5%) 0%, lighten(#40877a, 5%) 80%, lighten(#216155, 5%) 100%)
    box-shadow 0 0 5px 1px #666
    color #fff
    transform scale(1.012)
