@require 'lib/mixins'
@require 'lib/loading-spinner'
@require 'main-menu'
@require 'map'
@require 'map-controls'
@require 'photo-viewer'
@require 'location-info'
@require 'pages'

html,
body
  height 100%

body
  margin 0
  overflow hidden

#app
  height 100%
  position relative

#map
  fill-parent()

.trademark
  display flex
  align-items center
  & img
    height 26px
  & .title
    font-size 16px
    color white
    margin-left 2px
    text-shadow 1px 1px 2px #111

.click-screen
  fill-parent()
  &.disabled
    pointer-events none

#debug
  position absolute
  left 4px
  top 76%
  color white
  pointer-events none
  & h1
    font-size 12px
    cursor pointer
    pointer-events auto
    margin-top 0
    margin-bottom 4px
    &:hover
      color #ddd
  & p
    font-size 10px
    margin 0
