@require 'lib/mixins'
@require 'lib/common'
@require 'header'
@require 'map'
@require 'map-infobox'

body
  overflow hidden

.main
  position absolute
  top header-height
  bottom 0
  width 100%
  z-index 1

.page
  background-color white
  overflow-y scroll
  .content
    font-family Arial
    margin 20px
    h1
      font-size 20px
      text-align center
