@require 'lib/common'
@require 'header'
@require 'map-controls'
@require 'map-content'

html,
body
  height 100%

body
  margin 0
  overflow hidden

#app
  display flex
  flex-flow column
  height 100%

main
  flex auto
  display flex
  position relative

#map
  fill-parent()

.page
  fill-parent()
  background-color white
  overflow-y auto
  .content
    font-family Arial
    margin 20px
    h1
      font-size 20px
      text-align center
