#view-location
  & section
    margin-bottom 4px
  & label
    font-weight bold
    margin-bottom 4px
    display block
  & .value
    margin-bottom 4px
  & .info
    font-size 12px
    margin-top 0
    margin-bottom 0

#add-location
  cursor pointer
  &:hover
    color blue

#edit-new-location
  & section
    margin-bottom 4px
  & label
    font-weight bold
    display block
  & textarea
    width 100%
    box-sizing border-box
    resize none
  & button
    margin-right 4px
  & .info
    margin-bottom 0
