map-control-shadow()
  box-shadow 0 1px 4px -1px #ccc

#avatar
  background-color #ccc
  width 48px
  height 48px
  position absolute
  right 66px
  top 6px
  border-radius 50%
  border 1.5px solid white
  overflow hidden
  &.logged-in
    cursor pointer
  img
    width 100%
    height 100%
    display block

#address-search
  position absolute
  top 13px
  width 100%
  pointer-events none
  & form
    padding 0 7px
    & input
      font-size 17px
      width 210px
      max-width 100%
      pill-shape()
      box-sizing border-box
      padding 4px 12px
      outline-style none
      pointer-events auto
      display block
      &::placeholder
        text-align right
  & .search-results
    font-size 16px
    background-color white
    margin-top 2px
    margin-right 7px
    margin-left 7px
    border-radius 6px
    overflow hidden
    max-width 592px
    user-select none
    map-control-shadow()
    pointer-events auto
    .result
      padding 1px 4px
      cursor pointer
      &:hover, &.selected
        background-color #ccf

#map-buttons
  position absolute
  top 30%
  right 10px
  & .map-control
    margin-top 8px

button.map-control
  all unset
  color #666
  background-color white
  width 40px
  height 40px
  border-radius 50%
  map-control-shadow()
  display block
  cursor pointer
  &:hover
    color darken(@color, 30%)
  svg
    width 100%
    height 100%
    display block

#social-menu
  position absolute
  bottom 33px
  left 10px
  & .menu-toggle
    position relative
    & img.icon
      width 60%
      height 60%
  & .buttons
    opacity 0
    visibility hidden
    transition opacity 0.2s, visibility 0.2s
    &.open
      opacity 1
      visibility visible
    & button
      margin-bottom 8px
      position relative
      & img.icon
        width 75%
        height 75%
      transition transform 0.05s
      &:hover
        transform scale(1.05)
  & img.icon
    absolute-centered-fixed-size()
    filter invert(1) brightness(40%)
    &:hover
      filter invert(1) brightness(36%)

#hint
  background linear-gradient(to bottom, #555 0%, #191818 80%, #216155 100%)
  box-shadow 0 0 20px 3px #333
  border 1px #363636 solid
  color #eee
  text-shadow 1px 1px 2px black
  pill-shape()
  absolute-centered-dynamic-width()
  bottom 30px
  padding 0 1em
  text-align center
  white-space nowrap
  font-size 14px
  opacity 0.8
  pointer-events none

#announcements
  top 62px
  left 9px
  width 320px
  position absolute
  & .item
    background-color white
    padding 8px
    border 1px #666 solid
    border-radius 4px
    margin-bottom 6px
    position relative
    & .title
      font-size 12px
      font-weight bold
      margin-top 0
      margin-bottom 3px
    & .message
      font-size 12px
      margin 0
    & .close
      all unset
      top 2px
      right 6px
      padding 2px
      font-size 16px
      cursor pointer
      user-select none
      position absolute
