#map
  z-index 0

#address-search
  position absolute
  top header-height + 16px
  width 100%
  z-foreground()
  pointer-events none
  & > *
    pointer-events all

#address-input-form
  padding 0 7px

#address-input
  font-size 17px
  float right
  width 210px
  max-width 100%
  box-sizing border-box
  &::placeholder
    text-align right

#search-results
  font-size 16px
  background-color white
  margin-right 7px
  user-select none
  clear right
  .result
    padding 1px 4px
    cursor pointer
    &:hover, &.selected
      background-color #ccf

.map-control
  all unset
  font-size 38px
  color #666
  background-color white
  width 20px
  height 41px
  right 10px
  border-radius 2px
  text-align center
  position absolute
  user-select none
  cursor pointer
  &:hover
    color black

#switch-layers
  top 125px
  padding-left 8px
  padding-right 10px
  line-height 2px

#geolocate
  top 176px
  padding-left 8px
  padding-right 10px
  line-height 2px

#add-location
  cursor pointer
  &:hover
    color blue

#hint
  background linear-gradient(to bottom, #555 0%, #191818 80%, #216155 100%)
  box-shadow 0 0 20px 3px #333
  border 1px #363636 solid
  color #eee
  text-shadow 1px 1px 2px black
  pill-shape()
  position absolute
  left 50%
  transform: translateX(-50%)
  bottom 30px
  padding 0 1em
  text-align center
  white-space nowrap
  font-size 14px
  opacity 0.8
  cursor pointer
  pointer-events none
