// Popup info window contents
.gm-style-iw-d
  // Don't crop the outline (e.g. on the full-width textarea when in focus)
  overflow visible !important

// Popup close button
.gm-ui-hover-effect
  right 0
  padding 0

#add-location
  cursor pointer
  &:hover
    color blue
