#map
  & > div:first-child > div:first-child
    // Briefly it's the third element which quickly gets bumped up to fourth (as the map loads)
    & > div:nth-child(3), div:nth-child(4)
      // Remove the blue outline when the map is in focus
      border none !important

// Popup info window contents
.gm-style-iw-d
  // Don't crop the outline (e.g. on the full-width textarea when in focus)
  overflow visible !important

// Popup close button
.gm-ui-hover-effect
  right 0
  padding 0

#add-location
  cursor pointer
  &:hover
    color blue
