.page
  fill-parent()
  background-color white
  overflow-y auto
  & a
    font-weight bolder
    text-decoration none
  .content
    font-family Arial
    margin 20px
    h1
      font-size 20px
      text-align left
    h2
      font-size 18px
      color #655d30
    .logo
      height 40px
