html,
body
  height 100%

body
  margin 0

//
// The invisible click screen covers the viewport to temporarily prevent click events from
// propagating to the elements under it. Elements can implement z-foreground() to rise
// above it and stay interactive.
//
Z-SCREEN = 100

z-foreground(level = 1)
  z-index Z-SCREEN + level

.click-screen
  position fixed
  width 100%
  height 100%
  left 0
  top 0
  z-index Z-SCREEN
