html,
body
  height 100%

body
  margin 0

fill-parent()
  width 100%
  top 0
  bottom 0
  position absolute

//
// The (invisible) click screen is used to cover the viewport to temporarily prevent click
// events from propagating to the elements under it. Elements can implement z-modal()
// to rise above it and remain interactive.
//
Z-SCREEN = 100

z-modal(level = 1)
  z-index Z-SCREEN + level

.click-screen
  position fixed
  width 100%
  height 100%
  left 0
  top 0
  z-index Z-SCREEN
