header-height = 66px

html,
body
  height: 100%

body
  margin: 0

header
  height: header-height
  display: flex
  justify-content: space-between

#site-nav,
#logo,
#actions
  flex: 1

#site-nav
  font: 28px bold sans-serif
  display: flex
  align-items: center
  white-space: nowrap
  overflow-x: visible

#menu-toggle
  margin-left: 8px
  margin-right: 10px
  padding: 0 4px
  cursor: pointer
  user-select: none

#menu-toggle-hidden-checkbox
  display: none

#menu-toggle-hidden-checkbox:checked + #menu
  visibility: visible

#menu
  font-size: 16px
  position: absolute
  min-width: 80px
  background-color: white
  box-shadow: 2px 2px 3px 1px #666
  top: header-height + 2px
  left: 4px
  z-index: 1
  visibility: hidden

#menu ul
  list-style-type: none
  padding-left: 0
  margin: 0

#menu li
  width: 100%
  padding: 2px 4px
  cursor: pointer
  user-select: none

#menu li:hover
  color: #666

#logo
  position: absolute
  margin-top: 4px
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  width: 0

#logo > img
  height: header-height - 8px
  margin-left: -29px

#info
  text-align: right
  margin-right: 5px
  display: flex
  justify-content: center
  flex-direction: column

