header
  height header-height
  display flex
  justify-content space-between
  user-select none

#site-nav,
#logo,
#actions
  flex 1

#site-nav
  font 28px bold sans-serif
  display flex
  align-items center
  white-space nowrap
  overflow-x visible

#menu-toggle
  font-size 35px
  padding 0 20px
  height 100%
  line-height header-height - 6px
  cursor pointer
  user-select none
  html.non-touch &:hover
    background-color #eee

#menu
  font-size 20px
  position absolute
  min-width 160px
  background-color white
  box-shadow 2px 2px 3px 1px #666
  top header-height + 2px
  left 4px
  z-foreground(2)
  & > a
    color inherit
    text-decoration none

#menu ul
  list-style-type none
  padding-left 0
  margin 0

#menu li
  width 100%
  padding 2px 4px
  cursor pointer
  user-select none
  &:hover
    color #999

#logo
  position absolute
  absolute-centered()
  height header-height - 8px
  top 4px

#info
  text-align right
  margin-right 5px
  display flex
  justify-content center
  flex-direction column

#avatar
  width header-height
  height header-height
  cursor pointer
  &.logged-out
    background-color #ccc
  &> img
    width 100%
