.spinner
  width 20px
  height 20px
  absolute-centered-fixed-size()
  border-radius 100%
  border 4px solid #8b8b8b
  border-bottom-color transparent
  user-select none
  animation spin 2s infinite linear

@keyframes spin
  to
    transform rotate(1turn)
