doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    // inject:css
    // endinject
  body
    include lib/header.pug
    main#map
      button#submit-location(onclick='submitLocation()') Add Location
    script.
      var config = {
        backend: '!{backend.base_url}',
        development: '!{development}'
      }
    // inject:js
    // endinject