doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title=self.title
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    style.
      <!-- inject:css -->
  body
    #app
    script.
      <!-- inject:js -->
    script(src=`https://maps.googleapis.com/maps/api/js?key=${self.map.google.api_key}&v=weekly&callback=initMap`)