html, body {
  height: 100%;
}

body {
  margin: 0;
}

header {
  height: 66px;
  display: flex;
  justify-content: space-between;
}

#site-nav, #logo, #actions {
  flex: 1;
}

#site-nav {
  font: 28px bold sans-serif;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: visible;
}

#menu {
  margin-left: 8px;
  margin-right: 10px;
  padding: 0 4px;
  cursor: pointer;
}

#logo {
  display: inline-flex;
  width: 0;
}

#logo > img {
  height: 80%;
  margin: auto;
  display: block;
}

#actions {
  display: flex;
  justify-content: flex-end;
}

#submit-location {
  margin: 4px;
  background: linear-gradient(to right, #4d4e4d 0%, #40877a 80%, #216155 100%);
  color: #e1dcdc;
}